/*================================================== Przycisk ToolBa ==================================================*/

.c-tool-bar {
    display: inline-block;
}

.app .c-tool-bar .c-button {
    margin: 0 4px;
}

.c-tool-bar > button:hover {

}

/*===================================================== Button =====================================================*/

.app .c-button {
    box-sizing: border-box;
    font-size: 11pt;
    padding: 6px 12px;
    margin: 4px;
    cursor: pointer;
}

.app .c-button[disabled] {
    cursor: not-allowed;
}

/*===================================================== TitleBar =====================================================*/

.c-title-bar {
    padding: 8px;
    display: flex;
}

.c-title-bar-icon {
    font-size: 2em;
    margin-right: 10px;
    margin-left: 10px;
}

.c-title-bar h5 {
    display: inline-block;
    color: #39b;
    font-weight: bold;
    line-height: 1.5em;
}

/*==================================================== Attributes ====================================================*/

.c-attributes-row > td {
    padding: 4px 8px;
    vertical-align: top;
}

.c-attributes-row td:first-child {
    font-weight: bold;
}

/*==================================================== BreadCrumbs ===================================================*/

.c-breadcrumbs a,
.c-breadcrumbs a:visited,
.c-breadcrumbs a:hover,
.c-breadcrumbs a:focus,
.c-breadcrumbs a:active {
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
}

.c-breadcrumbs a:hover {
    color: #f53;
}

/*======================================================= Table ======================================================*/

.c-table {
    height: 100%;
    width: 100%
}

.c-table .rt-thead .rt-th {
    padding: 8px 4px;
    font-weight: normal;
    background-color: #505356;
    color: #bbb
}

.c-table .rt-thead .rt-th.-sort-asc,
.c-table .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 #f53
}

.c-table .rt-thead .rt-th.-sort-desc,
.c-table .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 #f53;
}

/*======================================================= StatusHint =================================================*/

.c-status-hint {
    flex: auto;
    text-align: right;
}

.c-status-hint > table {
    margin: 4px;
    text-align: left;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    max-width: 60vw;
    min-width: 250px;
    pointer-events: all;
}

.c-status-hint-icon {
    padding: 10px 10px 10px 20px;
    font-size: 30px;
    width: 30px;
    vertical-align: top;
}

.c-status-hint-content {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.c-status-hint-details {
    font-size: 13px;
    color: #444;
    padding-top: 10px;
}

/*======================================================= Button =================================================*/

.c-button-icon {
    margin-right: 7px;
    font-size: 1.4em;
    opacity: 0.8;
}

/*======================================================== Hint ===================================================*/

.c-hint {
    visibility: hidden;
    white-space: nowrap;
    position: fixed;
    background: #585858;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    /*margin: 10px;*/
    z-index: 1000
}

/*======================================================== IconEdit ===============================================*/

.c-icon-edit {
    margin: 8px;
}

.c-icon-edit-btn {
    box-sizing: border-box;
    font-size: 26px;
    padding: 7px 10px;
    vertical-align: middle;
    color: white;
    border-radius: 4px 0 0 4px;
    border: 1px solid #444;
    border-right: none;
}

.c-icon-edit-input {
    box-sizing: border-box;
    width: 300px;
    padding: 4px 16px;
    font-size: 16px;
    vertical-align: middle;
    color: #666;
    border: 1px solid #444;
}

/*======================================================== ModalWindow ===============================================*/

.c-modal-window {
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
}

.c-modal-window-title {
    background: #303336;
    color: white;
    border-bottom: 1px solid lightgray;
}

.c-modal-window-exit {
    text-align: center;
    padding: 5px 15px;
    margin: 2px;
    align-self: center;
    color: lightgray;
}

.c-modal-window-exit:hover {
    color: darkgray;
}

.c-modal-window-content {
    background: #DDDDDD;
    border-bottom: 1px solid lightgray;
}

.c-modal-window-footer {
    padding: 7px 20px;
    background: #303336;
    color: white;
}

/*========================================================= Panel ====================================================*/

.c-panel {
    font-size: 16px;
    padding: 6px 12px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

/*========================================================= Resizer ==================================================*/

.c-resizer {
    min-width: 12px;
    min-height: 12px;
}

.c-resizer-grabber {
    cursor: se-resize;
    border: solid 5px;
    border-color: transparent gray gray transparent;
}

/*========================================================= CheckBox =================================================*/

.c-check-box {
    width: 16px;
    margin-right: 10px;
}

.c-check-box:hover {
    color: #696969;
}

/*========================================================= Input ====================================================*/

.c-input > input {
    flex: auto;
    padding: 3px 8px;
}

/*========================================================= List =====================================================*/

.c-field-list {
    width: 100%;
}

.c-field-list-data {
    width: 20px;
}

/*========================================================= Memo =====================================================*/

.c-memo {

}

/*======================================================= Multiple ===================================================*/

.c-multiple-fields {

}

/*======================================================== Select =====================================================*/

.c-select {

}

/*====================================================== PopupMenu ====================================================*/

.c-popup-menu {
    box-shadow: 2px 2px 5px gray;
    background: white;
    border: 1px solid gray;
    cursor: default;
    user-select: none;
    white-space: nowrap;
}

.c-popup-menu-item:hover {
    background-color: #c4c4c4;
}

/*======================================================== TBL =======================================================*/
.tbl > tbody > tr:nth-child(odd) > td {
    /*background-color: #ddd;*/
}

.tbl > tbody > tr:nth-child(even) > td {
    background-color: rgba(0, 0, 0, 0.04);
}

.tbl > tbody > tr:hover > td {
    background-color: rgba(0, 50, 100, 0.1);
}

/*====================================================== Scrollbar ====================================================*/
.c-scrollbar {
    transition: background 250ms;
    overflow: hidden;
    z-index: 1;
}

.c-scrollbar-bar {
    opacity: 0;
    transition: background 250ms, opacity 250ms;
    background: rgba(127, 127, 127, 0.3);
    min-width: 10px;
    min-height: 10px;
}

.c-scrollbar-bar:hover {
    background: rgba(127, 127, 127, 0.6);
}

/*====================================================== FCtrl ====================================================*/

.c-fctrl {

}

*[fctrl-changed=true] {
    background-color: rgba(255, 200, 0, 0.3);
}