.c-input > input,
.c-memo > textarea {
    padding: 4px 12px;
    border-radius: 2px;
    border: 1px solid #aaa;
}

/*placeholder dla selecta, date pickera*/
.rw-placeholder {
    color: #888;
}

.rw-widget {
    border-radius: 2px;
    border: 1px solid #aaa;
}

/*================================================== Przycisk ToolBa ==================================================*/

.c-tool-bar {
    display: inline-block;
}

.app .c-tool-bar .c-button {
    margin: 0 4px;
}

.c-tool-bar > button:hover {

}

/*===================================================== Button =====================================================*/

.app .c-button {
    box-sizing: border-box;
    font-size: 1em;
    padding: 6px 12px;
    margin: 4px;
    cursor: pointer;
}

.app .c-button[disabled] {
    cursor: not-allowed;
}

/*===================================================== TitleBar =====================================================*/

.c-title-bar {
    padding: 8px;
    display: block;
}

.c-title-bar-icon {
    font-size: 2em;
    margin-right: 10px;
    margin-left: 10px;
}

.c-title-bar h5 {
    display: inline-block;
    color: #39b;
    font-weight: bold;
    line-height: 1.5em;
}

.c-title-bar .c-tool-bar {
    float: right;
}

/*==================================================== Attributes ====================================================*/

.c-attributes-row[data-selected] {
    background-color: rgba(0, 50, 100, 0.2);
}

.c-attributes-row > td {
    cursor: default;
    padding: 4px 8px;
    vertical-align: middle;
}

.c-attributes-row td:first-child {
    font-weight: bold;
}

.c-attributes-row:nth-child(even) > td {
    /*background-color: rgba(0, 0, 0, 0.04);*/
}

.c-attributes-row:hover > td {
    background-color: rgba(0, 50, 100, 0.1);
}

.c-attributes-row[data-error=true] {
    background-color: rgba(255, 0, 0, 0.3);
}

.c-attributes-row[data-changed=true] {
    background-color: rgba(255, 200, 0, 0.3);
}

.c-attributes-name {
    text-align: right;
}

.c-attributes-value {
    /*width: 100%;*/
}

/*==================================================== BreadCrumbs ===================================================*/

.c-breadcrumbs a,
.c-breadcrumbs a:visited,
.c-breadcrumbs a:hover,
.c-breadcrumbs a:focus,
.c-breadcrumbs a:active {
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
}

.c-breadcrumbs a:hover {
    color: #f53;
}

/*======================================================= Table ======================================================*/

.c-table {
    height: 100%;
    width: 100%
}

.c-table .rt-tr-group[data-changed=true] {
    background-color: rgba(255, 200, 0, 0.3);
}

.c-table .rt-thead .rt-th {
    padding: 8px 4px;
    font-weight: normal;

    color: #bbb
}

.c-table .rt-thead {
    background-color: #505356;
}

.c-table .rt-thead .rt-th.-sort-asc,
.c-table .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 #f53
}

.c-table .rt-thead .rt-th.-sort-desc,
.c-table .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 #f53;
}

.c-table-number {
    background-color: #ccc;
    border-right: 1px solid #aaa;
    height: 100%;
    padding: 7px 5px;
}

/*===================================================== RepoTable ====================================================*/

.c-repo-table {

}

.c-repo-table .rt-td {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*======================================================= StatusHint =================================================*/

.c-status-hint {
    flex: auto;
    text-align: right;
}

.c-status-hint > table {
    margin: 4px;
    text-align: left;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    max-width: 60vw;
    min-width: 250px;
    pointer-events: all;
}

.c-status-hint-icon {
    padding: 10px 10px 10px 20px;
    font-size: 30px;
    width: 30px;
    vertical-align: top;
}

.c-status-hint-content {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.c-status-hint-details {
    font-size: 13px;
    color: #444;
    padding-top: 10px;
}

/*======================================================= Button =================================================*/

.c-button-icon {
    margin-right: 7px;
    font-size: 1.3em;
    opacity: 0.8;
    vertical-align: bottom;
}

/*======================================================== Hint ===================================================*/

.c-hint {
    visibility: hidden;
    white-space: nowrap;
    position: fixed;
    background: #585858;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    /*margin: 10px;*/
    z-index: 1000
}

/*======================================================== IconEdit ===============================================*/

.c-icon-edit {
    margin: 8px;
}

.c-icon-edit-btn {
    box-sizing: border-box;
    font-size: 26px;
    padding: 7px 10px;
    vertical-align: middle;
    color: white;
    border-radius: 4px 0 0 4px;
    border: 1px solid #444;
    border-right: none;
}

.c-icon-edit-input {
    box-sizing: border-box;
    width: 300px;
    padding: 4px 16px;
    font-size: 16px;
    vertical-align: middle;
    color: #666;
    border: 1px solid #444;
}

/*======================================================== ModalWindow ===============================================*/

.c-modal-window {
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
}

.c-modal-window-title {
    background: #303336;
    color: white;
}

.c-modal-window-title-text {
    cursor: default;
    font-weight: bolder;
    text-align: center;
    padding: 5px 20px;
}

.c-modal-window-exit {
    text-align: center;
    padding: 5px 15px;
    margin: 2px;
    align-self: center;
    color: lightgray;
}

.c-modal-window-exit:hover {
    color: darkgray;
}

.c-modal-window-body {
    background: #DDDDDD;
}

.c-modal-window-body-content {

}

.c-modal-window-footer {
    padding: 7px 20px;
    background: #303336;
    color: white;
}

/*========================================================= Panel ====================================================*/

.c-panel {
    font-size: 16px;
    padding: 6px 12px;
    /*margin-right: 10px;*/
    /*margin-top: 10px;*/
    cursor: pointer;
    box-sizing: border-box;
}

.c-panel-titlebar {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    padding: 5px 0;
    background: #505356;
    color: #bbb;
}

.c-panel-titlebar:hover {
    background: #696969;
}

.c-panel-titlebar-icon {
    padding-left: 10px;
}

.c-panel-titlebar-title {
    flex: 1;
    font-weight: bolder;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.c-panel-titlebar-button {
    padding-right: 10px;
}

/*========================================================= Resizer ==================================================*/

.c-resizer {
    min-width: 12px;
    min-height: 12px;
}

.c-resizer-grabber {
    cursor: se-resize;
    border: solid 5px;
    border-color: transparent gray gray transparent;
}

/*========================================================= CheckBox =================================================*/

.c-check-box {
    font-size: 1.1em;
    line-height: 0;
}

.c-check-box-icon, .c-check-box-label {
    cursor: pointer;
}

.c-check-box > span {
    width: 16px;
}

.c-check-box:hover {
    color: #696969;
}

/*========================================================= Input ====================================================*/
.c-input {
    height: 100%;
}

.c-input > input {
    flex: auto;
    width: 100%;
}

/*========================================================= List =====================================================*/

.c-field-list {
    width: 100%;
}

.c-field-list-data {
    width: 20px;
}

/*========================================================= Memo =====================================================*/

.c-memo {

}

/*======================================================= Multiple ===================================================*/

.c-multiple-fields {

}

/*======================================================== Select ====================================================*/

.c-select {

}

/*====================================================== PopupMenu ===================================================*/

.c-popup-menu {
    box-shadow: 2px 2px 5px gray;
    background: white;
    border: 1px solid gray;
    cursor: default;
    user-select: none;
    white-space: nowrap;
}

.c-popup-menu-item:hover {
    background-color: #c4c4c4;
}

/*======================================================== TBL =======================================================*/
.tbl > tbody > tr:nth-child(odd) > td {
    /*background-color: #ddd;*/
}

.tbl > tbody > tr:nth-child(even) > td {
    background-color: rgba(0, 0, 0, 0.04);
}

.tbl > tbody > tr:hover > td {
    background-color: rgba(0, 50, 100, 0.1);
}

/*========================================== Resizer/Splitter Handle =================================================*/
.c-splitter-handle:hover {
    opacity: 0.6;
    background: linear-gradient(to right, transparent 30%, black, transparent 70%);
}

.c-splitter-handle-horizontal:hover {
    opacity: 0.6;
    background: linear-gradient(to bottom, transparent 30%, black, transparent 70%);
}

/*====================================================== Scrollbar ===================================================*/
.c-scrollbar {
    transition: background 250ms;
    overflow: hidden;
    z-index: 1;
}

.c-scrollbar-bar {
    opacity: 0;
    transition: background 250ms, opacity 250ms;
    background: rgba(127, 127, 127, 0.3);
    min-width: 10px;
    min-height: 10px;
}

.c-scrollbar-bar:hover {
    background: rgba(127, 127, 127, 0.6);
}

/*====================================================== FCtrl =======================================================*/

.c-fctrl {

}

.c-fctrl-name {
    /*margin: '0 4px',*/
    flex: 1 1 auto;
    font-size: 0.9em;
}

.c-fctrl-name-link {
    color: #1d75b3;
    cursor: pointer;
}

/*============================================== FCtrl - ikony =======================================================*/
.c-fctrl-icon {
    position: relative;
    margin: 0 4px;
    text-align: center;
}

.c-fctrl-icon-error {
    color: #c00;
}

.c-fctrl-icon-warning {
    color: #ffad00;
}

.c-fctrl-icon-description {
    color: #08d;
    font-size: 0.8em;
    vertical-align: top;
    opacity: 0.6;
}

.c-fctrl-icon-required {
    color: #c00;
    font-size: 0.6em;
    vertical-align: top;
}

/*==================================================== Toggle ========================================================*/
.c-toggle {

}

.c-toggle-label {
    padding-left: 10px;
}

.c-toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    vertical-align: middle;
}

.c-toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303336;
    border: 1px solid #444;
    transition: .1s;
}

.c-toggle-switch-slider:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 45%;
    top: 5%;
    left: 5%;
    background-color: #DDDDDD;
    border: 1px solid #444;
    transition: .1s;
}

input:checked + .c-toggle-switch-slider {
    background-color: #f53;
}

input:checked + .c-toggle-switch-slider:before {
    transform: translateX(100%);
}

/*=====================================================Radio Button ==================================================*/

.c-radio-button {
    margin-top: 4px;
    margin-bottom: 4px;
}

.c-radio-button-icon {
    cursor: pointer;
    font-size: 1.1em;
}

.c-radio-button-icon:hover {
    color: #696969;
}

.c-radio-button-label {
    padding: 0 10px;
    cursor: pointer;
}

/*=================================================== ReferencesTable ================================================*/

.c-references-table td:first-child > div {
    cursor: pointer;
    display: inline-block;
}

.c-references-table td:first-child > div:hover {
    color: #01a0e4;
    text-decoration: underline;
}

/*====================================================== Widget ======================================================*/

.c-widget {
    background-color: rgba(255, 255, 255, 0.5);
    color: #939291;
    border: 1px solid rgba(48, 51, 54, .25);
}

.c-widget-content {
    padding: 8px;
}

.c-widget-header {
    text-align: center;
    font-weight: bold;
    padding: 6px;
}

/*================================================= Dropdown ========================================================*/
.rw-popup-container {
    position: fixed;
    left: initial;
    right: initial;
}

.rw-popup {
    left: 0;
    right: 0;
}

