.tabSet {

}

.tabSetVertical {
    display: flex;
    flex-direction: row;
}

.tabsCtrl {
    display: flex;
}

.tabSet[data-hidden=true] .tabsCtrl > * {
    display: none;
}

.tabsVertical {
    display: flex;
    flex-direction: column;
}

.tabArrow {
    padding: 0 10px 0 10px;
    align-items: center;
    flex: 1;
    border-color: #999;
    border-bottom: 1px solid #999;
}

.tabArrow:hover {
    color: #0092ff;
}

.tabs {
    display: flex;
    overflow: hidden;
}

.tab {
    white-space: nowrap;
    padding: 5px 20px 5px 20px;
    color: #555;
    border: 1px solid #aaa;
    border-bottom: 1px solid #999;
    background-color: rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.tab:hover {
    background-color: rgba(0, 0, 0, 0.23);
}

.tab:focus {
    outline: none;
}

.tab_selected {
    background-color: inherit;
    border: 1px solid #999;
    border-bottom: none;
    color: #000;

    /*text-shadow: #a5a5a5 1px 1px 1px;*/
}

.tab_disabled {
    color: #bbbbbb;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #999;
    cursor: not-allowed;
}

.tabContent {
    padding: 8px;
}

.tabSet:not([data-hidden=true]) .tabContent {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}