body {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
    font-family: Verdana;
    -webkit-font-smoothing:antialiased !important;
    color: #484848;
    line-height: 1.3;
    width: 100%;
    height: 100%;
}

body,
table td,
table th {
    font-size: 11pt;
}

#app-header > header {
    padding: 10px;
    background-color: #303336;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    vertical-align: baseline;
    overflow: hidden;
    white-space: nowrap;
}

#app-header > header > img {
    height: 24px;
    margin-right: 15px;
}

#app-header > * {
    vertical-align: middle;
}

#app-header .fa {
    color: inherit;
    text-decoration: none;
    margin: 0 4px;
    font-size: 24px;
    cursor: pointer;
}

#app-header .fa:hover {
    color: white;
}

#app-body {
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
    overflow: hidden;
}

#app-status-bar {
    background-color: #333;
    color: #aaa;
    font-size: 10pt;
    padding: 2px 10px;
}

#app-navbar {
    border-right: 1px solid #c2c2c2;
    display: flex;
    background-color: #ccc;

}

#app-toolbar {
    position: fixed;
    right: 0;
}

#app-pages-container {
    flex: auto;
    overflow: hidden;
    position: relative;
    background: url('/res/background.jpg') round;
    background-size: auto;
}

.app-page-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: auto;
}

#app-status-hint {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none; /* aby można było klikać między warstwami*/
}

#app-navbar .x-tree {
    width: 250px;
}

