
#mc-list,
#mc-details {
    padding: 8px;
}

#mc-details textarea {
    width: 100%;
}

.mc-table {
}
.mc-table a {
    color: #afa770;
}

.mc-table td {
    padding: 3px 6px;
}

.mc-table tr:hover {
    background-color: var(--hover-bckg);
    color: var(--hover-font);
}

.mc-table tr {
    cursor: pointer;
}

#main-menu {
    display: flex;
    padding: 4px;
}

#main-menu > span {
    flex: auto;
}

#main-menu > span:last-child {
    flex-grow: 0;
}

.mc-attr-edit table {
    min-width: 350px;
}

.mc-attr-edit table td {
    padding: 4px 8px;
}

.mc-attr-edit table,
.mc-attr-edit table td:nth-child(2),
.mc-attr-edit table td input {
    width: 100%;
    white-space: nowrap;
}

.mc-attr-edit textArea {
    width: 100%;
    min-height: 6em;
}